/* ========== cards css =========== */

/* card-style-1 */
.card-style-1 {
  background: $white;
  border: 1px solid $light;
  border-radius: 10px;
  padding: 25px 0;
  position: relative;
  @include transition(0.3s);

  &:hover {
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  }

  .card-meta {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 30px;

    @media #{$xs} {
      padding: 0 20px;
    }

    .image {
      max-width: 40px;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;

      img {
        width: 100%;
      }
    }

    .text {
      p {
        color: $dark;

        a {
          color: inherit;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .card-image {
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .card-content {
    padding: 0px 30px;

    @media #{$xs} {
      padding: 0px 20px;
    }

    h4 {
      a {
        color: inherit;
        margin-bottom: 15px;
        display: block;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

/* card-style-2 */
.card-style-2 {
  background: $white;
  border: 1px solid $light;
  border-radius: 4px;
  padding: 20px;
  @include transition(0.3s);

  &:hover {
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  }

  .card-image {
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .card-content {
    padding: 0px 10px;

    @media #{$xs} {
      padding: 0px;
    }

    h4 {
      a {
        color: inherit;
        margin-bottom: 15px;
        display: block;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

/* card-style-3 */
.card-style-3 {
  background: $white;
  border: 1px solid $light;
  border-radius: 4px;
  padding: 25px 30px;
  @include transition(0.3s);

  &:hover {
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  }

  .card-content {
    h4 {
      a {
        color: inherit;
        margin-bottom: 15px;
        display: block;

        &:hover {
          color: $primary;
        }
      }
    }

    a.read-more {
      font-weight: 500;
      color: $dark;
      margin-top: 20px;

      &:hover {
        color: $primary;
        letter-spacing: 2px;
      }
    }
  }
}

/* ======= icon-card ======== */
.icon-card {
  display: flex;
  align-items: center;
  background: $white;
  padding: 30px 20px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 10px 20px rgba(200, 208, 216, 0.3);
  border-radius: 10px;

  &.icon-card-3 {
    display: block;
    padding: 12px;

    .card-content {
      display: flex;
      padding: 12px;
      padding-bottom: 0;
    }
  }

  h6 {
    @media #{$laptop} {
      font-size: 15px;
    }
  }

  h3 {
    @media #{$laptop} {
      font-size: 20px;
    }
  }

  &.icon-card-2 {
    display: block;

    .progress {
      height: 7px;

      .progress-bar {
        border-radius: 4px;
      }
    }
  }

  .icon {
    max-width: 46px;
    width: 100%;
    height: 46px;
    border-radius: 10px;
    @include flex-center;
    font-size: 24px;
    margin-right: 20px;
    background: rgba($primary, 0.1);
    color: $primary;
    font-weight: 700;

    @media #{$laptop} {
      margin-right: 10px;
    }

    &.purple {
      background: rgba($purple, 0.1);
      color: $purple;
    }
    &.success {
      background: rgba($success, 0.1);
      color: $success;
    }
    &.primary {
      background: rgba($primary, 0.1);
      color: $primary;
    }
    &.orange {
      background: rgba($orange, 0.1);
      color: $orange;
    }
  }
}
